.productZone {
    height: 100vh;
    width: 72%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.coffeeImg {
    width: 65vh;
    height: 85vh;
    border-radius: 20px;
}

.cupAndHisName {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.beverageNameText {
    font-size: 50px;
}

.buyBtn {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    background-color: #DCC3AA;
    border: navajowhite solid 4px;
    border-radius: 10px;
    cursor: pointer;
    filter: brightness(1.02);
}

.buyBtn:hover {
    transform: scale(1.01);
    filter: brightness(0.9);
}


@media (max-width: 1450px) {
    .productZone {
        display: grid;
        justify-items: center;
        justify-content: normal;
    }
}
